streamlit==1.57.0
groq==1.2.0
supabase==2.3.0
gotrue==2.9.1
postgrest==0.13.2
realtime==1.0.6
storage3==0.7.7
supafunc==0.3.3
httpx==0.24.1
httpcore==0.17.3
duckduckgo-search==8.1.1
requests==2.33.0
secure-smtplib==0.1.1
python-dotenv==1.2.2